# Aiken compilation artifacts
artifacts/
# Aiken's project working directory
build/
# Aiken's default documentation export
#docs/
.vscode/
node_modules/
.env
scripts/
db.dump
legionx_db.sql
legionx_db.dump
tests/
jest.config.ts
model.json
test-db.ts
test-dbsync.ts
.ps1
pitch_deck.md